{% comment %}
  Section settings:
    - icon_1: Icon for the first item
    - heading_1: Heading for the first item
    - description_1: Description for the first item
    - icon_2: Icon for the second item
    - heading_2: Heading for the second item
    - description_2: Description for the second item
    - icon_3: Icon for the third item
    - heading_3: Heading for the third item
    - description_3: Description for the third item
    - icon_4: Icon for the fourth item
    - heading_4: Heading for the fourth item
    - description_4: Description for the fourth item
{% endcomment %}

{% assign icon_1 = block.settings.icon_1_image | img_url: '300x' | escape %}
{% assign heading_1 = block.settings.icon_1_heading %}
{% assign description_1 = block.settings.icon_1_description %}

{% assign icon_2 = block.settings.icon_2_image | img_url: '300x' | escape %}
{% assign heading_2 = block.settings.icon_2_heading %}
{% assign description_2 = block.settings.icon_2_description %}

{% assign icon_3 = block.settings.icon_3_image | img_url: '300x' | escape %}
{% assign heading_3 = block.settings.icon_3_heading %}
{% assign description_3 = block.settings.icon_3_description %}

{% assign icon_4 = block.settings.icon_4_image | img_url: '300x' | escape %}
{% assign heading_4 = block.settings.icon_4_heading %}
{% assign description_4 = block.settings.icon_4_description %}

<div class="icon-row">
  <div class="icon-col">
    <div class="icon-item">
      <img src="{{ icon_1 }}" alt="{{ heading_1 }}">
      <h3>{{ heading_1 }}</h3>
      <p>{{ description_1 }}</p>
    </div>
  </div>
  <div class="icon-col">
    <div class="icon-item">
      <img src="{{ icon_2 }}" alt="{{ heading_2 }}">
      <h3>{{ heading_2 }}</h3>
      <p>{{ description_2 }}</p>
    </div>
  </div>
  <div class="icon-col">
    <div class="icon-item">
      <img src="{{ icon_3 }}" alt="{{ heading_3 }}">
      <h3>{{ heading_3 }}</h3>
      <p>{{ description_3 }}</p>
    </div>
  </div>
  <div class="icon-col">
    <div class="icon-item">
      <img src="{{ icon_4 }}" alt="{{ heading_4 }}">
      <h3>{{ heading_4 }}</h3>
      <p>{{ description_4 }}</p>
    </div>
  </div>
</div>

{% style %}
  .icon-row {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 20px;
      max-width: 90%;
  }

  .icon-col {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .icon-col {
    flex-basis: calc(25% - 15px);
    display: flex;
    align-items: stretch;
}
  }

  .icon-item {
    text-align: center;
  }

  .icon-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .icon-item h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }

  .icon-item p {
    font-size: 14px;
    line-height: 1.5;
    color: #999;
  }
{% endstyle %}
