<menu-with-products class="megamenu__products">
  <ul class="megamenu__products-nav">
    {% for collection in nav_item_collections %}
      <li>
        <button class="megamenu__products-nav-btn active" data-trigger-submenu>
          {{ collection.title }}
        </button>
        <ul class="megamenu__products-items">
          {% for product in collection.products %}
            <li class="megamenu__products-item">
              <a href="{{product.url}}">
                <div class="img-wrapper">
                  <img src="{{product.featured_image |  image_url: width: '150px'}}" alt="">
                </div>
                <h3>
                  {{ product.title }}
                </h3>
              </a>
            </li>
          {% endfor %}
          <li class="megamenu__products-item-show">
            <a href="{{collection.url}}">SHOP All</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="megamenu__products-nav-btn" data-trigger-submenu>
          {{ collection.title }}
        </button>
        <ul class="megamenu__products-items">
          {% for product in collection.products %}
            {% if forloop.index > 1 %}

              <li class="megamenu__products-item">
                <a href="{{product.url}}">
                  <div class="img-wrapper">
                    <img src="{{product.featured_image |  image_url: width: '150px'}}" alt="">
                  </div>
                  <h3>
                    {{ product.title }}
                  </h3>
                </a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="megamenu__products-item-show">
            <a href="{{collection.url}}">SHOP All</a>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</menu-with-products>
{{ 'menu-with-products.js' | asset_url | script_tag }}