<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js" lang="{{ shop.locale }}">
  <!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <title>
      {{ shop.name }}
      &ndash;
      {{ 'general.password_page.opening_soon' | t }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    <!--[if (lte IE 9) ]> {{ 'match-media.min.js' | asset_url | script_tag }} <![endif]-->

    <!-- [if (gt IE 9)|!(IE)]><! -->
    <script src="{{ 'jquery.2.2.4.min.js' | asset_url }}" defer="defer"></script>
    <!-- <![endif] -->
    <!--[if lte IE 9]> <script src="{{ 'jquery.2.2.4.min.js' | asset_url }}"></script> <![endif]-->

    <!-- [if (gt IE 9)|!(IE)]><! -->
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <!-- <![endif] -->
    <!--[if lte IE 9]> <script src="{{ 'vendor.js' | asset_url }}"></script> <![endif]-->

    <!-- [if (gt IE 9)|!(IE)]><! -->
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <!-- <![endif] -->
    <!--[if lte IE 9]> <script src="{{ 'theme.js' | asset_url }}"></script> <![endif]-->

    <!-- [if (gt IE 9)|!(IE)]><! -->
    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
    <!-- <![endif] -->
    <!--[if lte IE 9]> <script src="{{ 'password.js' | asset_url }}"></script> <![endif]-->
    
    {{ content_for_header }}
    <style>

      div#LoginModal.modal--is-active {
          display: grid;
          place-content: center;
          background: rgb(0 0 0 / 60%);
      }
      .password-page{
       max-width: 1320px;
        padding: 0 22px;
        margin: 0 auto;
        background: #fffef4;
      }
      .password-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .password-header img {
          max-width: 180px;
      }
      .password-main{
        background: url('https://cdn.shopify.com/s/files/1/0737/6496/2598/files/Duo3.png?v=1689426127');
        background-size: cover;
        background-position: center;
        padding: 50px 22px;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .password-main__inner {
          background: rgb(255 255 255 / 58%);
          border-radius: 20px;
          padding: 50px 35px;
      }
      .password-main .input-group {
        justify-content: center;
        gap: 10px;
      }
      .password-main input#Email_password {
          width: 60%;
      }
      .password-main span.input-group__btn .btn {
          background: #fff;
      }
      .password-main .password-message {
          margin-bottom: 30px;
      }
      .password-main p.password__form-heading {
          margin-bottom: 30px;
          font-size: 22px;
      }
      .block_social ul.list-inline.mb-0 {
          display: flex;
          flex-flow: row-reverse;
          justify-content: center;
          gap: 10px;
          margin: 10px 0;
      }
      .block_social .fa {
          margin-right: 5px;
      }
      .block_social a {
          color: #5c5b5b;
      }
      .password-powered-by {
          text-align: center;
      }
      svg.icon.icon-close {
          width: 10px;
          height: 10px;
      }
      button.modal__close.js-modal-close.text-link {
          position: absolute;
          right: 20px;
          top: 20px;
      }
      .modal__inner {
          padding: 50px;
          background: #fff;
          min-width: 530px;
          min-height: 400px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
      }
      .password-main label.label--hidden {
          display: none;
      }
    </style>
  </head> 

  <body class="template-password">
    <div class="password-page">
      <header class="password-header" role="banner">
        <div class="logo-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0737/6496/2598/files/Alias_good_skin_logo_no_bg.svg?v=1688602111">
        </div>
        <div class="password-header__inner">
          <div class="password-login">
            <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">
              {{ 'general.password_page.password_link' | t }}
              <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
      </header>

      {{ content_for_layout }}

    </div>

    <div id="LoginModal" class="modal">
      <div class="modal__inner">
        <div class="modal__centered password-modal__content page-width text-center">
          <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div class="input-group password__input-group">
              <input
                type="password"
                name="password"
                id="Password"
                class="input-group__field input--content-color"
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </span>
            </div>
          {% endform %}
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>

        <button type="button" class="modal__close js-modal-close text-link">
          {% include 'icon-close' %}
        </button>
      </div>

      
    </div>

    <script>
      var theme = {
        strings: {
          addressError: {{ 'sections.map.address_error' | t | json }},
          addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }}
        }
      }
    </script>
  </body>
</html>
