<style>
    @media screen and (min-width: 750px) {
        {% if section.settings.image_pc != blank %}
            .block-{{ section.id }} {
                background-image: url({{ section.settings.image_pc |  img_url: 'master' }});
            }
        {% endif %}
    }
</style>

<section class="hero-block block-{{ section.id }}">
    {% if section.settings.image_mb != blank %}
        <img src="{{ section.settings.image_mb |  img_url: 'master' }}" alt="{{ section.settings.block_title }}" class="hero-block__img" lazyload="lazy">
    {% endif %}

    <div class="wrapper">
        {% if section.settings.block_title != blank %}
            <h1>
                {{ section.settings.block_title }}
            </h1>
        {% endif %}

        {% if section.settings.block_desc != blank %}
            <div class="hero-block__desc">
                {{ section.settings.block_desc }}
            </div>
        {% endif %}

        {% if section.settings.block_link_url != blank %}
            <div class="hero-block__cta">
                <a href="{{ section.settings.block_link_url }}" class="button">
                    {{ section.settings.block_link_title }}
                </a>
            </div>
        {% endif %}

    </div>
</section>


{% schema %}
{
  "name": "Hero",
  "settings": [
    {
        "type": "header",
        "content": "Block title"
    },
    {
        "type": "text",
        "id": "block_title",
        "label": "Block title",
        "default": "Block title"
    },
    {
        "type": "header",
        "content": "Block description"
    },
    {
        "type": "inline_richtext",
        "id": "block_desc",
        "label": "Block description",
        "default": "Block description"
    },
    {
        "type": "header",
        "content": "Block link"
    },
    {
        "type": "text",
        "id": "block_link_title",
        "label": "Block link title",
        "default": "Button"
    },
    {
        "type": "url",
        "id": "block_link_url",
        "label": "Block link url"
    },
    {
        "type": "header",
        "content": "Block background image"
    },
    {
        "type": "image_picker",
        "id": "image_pc",
        "label": "Image desktop"
    },
    {
        "type": "image_picker",
        "id": "image_mb",
        "label": "Image mobile"
    }
  ],
   "presets": [
    {
        "name": "Hero"
    }
  ]
}
{% endschema %}