<div class="post-link-section">
  <div class="container_1320" style="background:{{ section.settings.sc_bg }}">
    <div class="flex-wrap">
      <div class="flex-item title-sc">
        <h3>{{ section.settings.section_title }}</h3>
        <a href="{{ section.settings.section_link }}">
          {% if section.settings.url_title != blank %}
            {{ section.settings.url_title }}
          {% else %}
            Click Here
          {% endif %}
        </a>
      </div>
      {% for block in section.blocks %}
          <div class="flex-item post-wrap">
          {% if block.settings.link_image != blank %}
            {{ block.settings.link_image | img_url: 'master' | img_tag }}
          {% endif %}
            <div class="text-wrap">
              <p>{{ block.settings.link_text }}</p>
              <a href="{{ block.settings.link_url }}">
                {% if block.settings.button_text != blank%}
                  {{ block.settings.button_text }}
                {% else %}
                  Learn More
                {% endif %}
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Post Link Section",
    "settings": [
      {
        "type": "color",
        "id": "sc_bg",
        "label" : "Section BG"
      },
      {
        "type": "textarea",
        "id": "section_title",
        "label" : "Section Title",
        "default": "Section Title"
      },
      {
        "type": "url",
        "id": "section_link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "url_title",
        "label": "Heading",
        "default": "Link Title"
      }
    ],
    "max_blocks": 2,
	"blocks": [
		{
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "url",
            "id": "link_url",
            "label": "Select a Page"
          },
          {
            "type": "image_picker",
            "id": "link_image",
            "label": "Link Image"
          },
          {
            "type": "textarea",
            "id": "link_text",
            "label": "Link Title"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Link Title"
          }
        ]
      }	
	],
	"presets": [{
      "name": "Home Section | Post Link",
      "category": "text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}