
{{ 'image-text-block.css' | asset_url | stylesheet_tag }}
{% assign content = section.settings %}
<section class="lp-img-text  map-section__wrapper">
  <div class="lp-img-text__wrapper  {% if content.reverse %}lp-img-text__wrapper--reverse{% endif %}">
    <div class="lp-img-text__left-block">
      <div class="inner">
        {% if content.sup_title != blank %}
        <span class="left-block__sup-title">
          {{ content.sup_title }}
        </span>
        
        {% endif %}
        {% if content.title != blank %}
          <h3 class="left-block__title">
            {{ content.title }}
          </h3>
        {% endif %}
        {% if content.description != blank %}
          <div class="left-block__description">
            {{ content.description }}
          </div>
        {% endif %}
        {% if content.btn_text != blank %}
          <button class="left-block__button">
            {{ content.btn_text }}
          </button>
        {% endif %}
      </div>
    </div>

    <div class="lp-img-text__right-block">
      <div class="right-block__wrapper">
        {% if content.image != blank %}
          <div class="right-block__image right-block__image-{{section.id}}">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% style %}
  .lp-img-text {
    padding-top: {{ content.pd_top }};
    padding-bottom: {{ content.pd_bottom }}
  }
  .lp-img-text__left-block {
    background-color: {{ content.bg_block }}
  }
  .right-block__image-{{ section.id }}{
    background-image: url({{ content.image | img_url: "master" }});
  }

{% endstyle %}

{% schema %}
  {
    "name": "Image & Text Block",
    "settings": [
      {
        "type": "checkbox",
        "id": "reverse",
        "label": "Reverse section",
        "default": false
      },
      {
        "type": "text",
        "id": "pd_top",
        "label": "Top spacing section",
        "default": "70px"
      },
      {
        "type": "text",
        "id": "pd_bottom",
        "label": "Bottom spacing section",
        "default": "70px"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "color",
        "id": "bg_block",
        "label": "Background block"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      }, {
        "type": "text",
        "id": "sup_title",
        "label": "Sup Title",
        "default": "Sup Title"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Description</p>"
      }, {
        "type": "header",
        "content": "Button settings"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Image & Text Block"
      }
    ]
  }
{% endschema %}

