<style>
  #shopify-section-{{ section.id }}.section_img_text {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
  }
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
  figure.cncns {
    position: relative;
}
figcaption.caption2 {
    position: absolute;
    top: 0;
    right: 6%;
    height: 97%;
    display: flex;
    align-items: center;
    z-index: 5;
}
</style>
<div class="distance{% if section.settings.has_fullwidth == true %} full_width{% endif %}{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %} cbvc">
  {% if section.settings.has_fullwidth == false %}
    <div class="container_ct">
  {% endif %}
    <div class="block">


{% style %}
  .cc .title_block {
    font-weight: normal !important;
}
  .section_img_text .item_text {
    margin-bottom: 10px;
}
  .slider_top-2 svg {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.slider_bottom-2 svg {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
  slideshow-component:not(.page-width) .slider-buttons {
    z-index: 3;
}
  figcaption.caption2 {
    max-width: 40%;
}

    @media (min-width: 1024px)
  {
.row.ffv {
    display: flex;
    flex-direction: column;
}
    .col-sm-6.col-xs-12.item_text.d-flex.align-items-center.mb-md-30.cssca {
    max-width: 100%;
}
.title.sdvz {
    max-width: 100%;
}
  }
  
  @media (max-width: 768px)
  {
.slider_top-2 svg {
    height: 20px !important;
}
.slider_bottom-2 svg {
    height: 20px !important;
}


  .block_title.cc.text-left.mb-70.mb-md-40 {
    text-align: center !important;
}

figcaption.caption2 {
    position: unset;
    max-width: 92%;
    margin: auto;
}

  }
  {% endstyle %}
<figure class="cncns">
      {% if section.settings.show_top_line == true %}
  <div class="slider_top-2">

    <svg style="transform: translateY({{ section.settings.slider_top_position }}px); height:{{ section.settings.slider_top_svg_height }}px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 5" version="1.1" width="100%" height="100%" preserveAspectRatio="none">
  <path style="fill: {{ section.settings.slider_top_color }};" d="m 0 0 l 50 5 v -5" fill="#000000"/>
</svg>


</div>
{% endif %}
{% if section.settings.show_bottom_line == true %}
  <div class="slider_bottom-2">

  <svg style="transform: translateY({{ section.settings.slider_bottom_position }}px); height:{{ section.settings.slider_bottom_svg_height }}px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 -5 50 5" version="1.1" width="100%" height="100%" preserveAspectRatio="none">
  <path d="m 0 0 l 50 -5 v 5" style="fill: {{ section.settings.slider_bottom_color }};"/>
</svg>



</div>
{% endif %}
<div class="block_img2 wow fadeInLeft animated">
          <div class="block_img-content">
            {% if section.settings.image != blank %}
              <div class="respone_image" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
                {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="gallery_image lazyload"
                  src="{{ section.settings.image | img_url: '1000x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.image.alt | escape }}">
              </div>
            {% else %}
              <img src="https://via.placeholder.com/700x">
            {% endif %}
          </div>
        </div>
                  <figcaption class="caption2">
                    <div class="wow fadeInRight animated">
          <div class="block_text-content">
            <div class="block_title cc {{ section.settings.title_alignment }} mb-70 mb-md-40">
              {% if section.settings.subheading != blank %}
                <div class="sub-title" style="color: {{ section.settings.st_color }}">{{ section.settings.subheading }}</div>
              {% endif %}
              {% if section.settings.title != blank %}
                <div class="title_block font-weight-bold wow fadeInUp animated" style="color: {{ section.settings.t_color }}">{{ section.settings.title }}</div>
              {% endif %}
              {% if section.settings.desc != blank %}
                <div class="desc_title wow fadeInUp animated" style="color: {{ section.settings.desc_color }}">{{ section.settings.desc }}</div>
              {% endif %}
            </div>
            <div class="row ffv">
              {% for block in section.blocks %}
                <div class="col-sm-6 col-xs-12 item_text d-flex align-items-center mb-md-30 cssca">
                  {% if  block.settings.icon != blank %}
                    <div class="icon"><img src="{{ block.settings.icon | img_url: '30x' }}"></div>
                  {% endif %}
                  {% if block.settings.title != blank %}
                    <div class="title sdvz">{{ block.settings.title }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
                  </figcaption>
                </figure>

    </div>
  {% if section.settings.has_fullwidth == false %}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Vinova Image Width Text 2",
    "class": "index-section section_img_text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova Image With Text"
      },
      {
        "type": "color",
        "id": "t_color",
        "label": "Heading color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Subtitle from happy customers"
      },
      {
        "type": "color",
        "id": "st_color",
        "label": "Sub heading color",
        "default": "#000"
      },
      {
        "type": "richtext",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "color",
        "id": "desc_color",
        "label": "Description color",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
           {
      "type": "checkbox",
      "id": "show_top_line",
      "default": false,
      "label": "show top inclined line"
    },
     {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "show bottom line"
    },
    {
      "type": "range",
      "id": "slider_top_position",
      "label": "Slider Top Position",
      "default": 0,
      "min": -50,
      "max": 50,
      "step": 1,
      "info": "Enter a value in pixels to move the slider-top element up or down using the translate CSS property."
    },
    {
      "type": "range",
      "id": "slider_bottom_position",
      "label": "Slider Bottom Position",
      "default": 0,
      "min": -50,
      "max": 50,
      "step": 1,
      "info": "Enter a value in pixels to move the slider-bottom element up or down using the translate CSS property."
    },
      {
      "type": "color",
      "id": "slider_top_color",
      "label": "Slider Top Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "slider_bottom_color",
      "label": "Slider Bottom Color",
      "default": "#ffffff"
    },
    {
    "type": "range",
    "label": "Slider-Top SVG Height",
    "id": "slider_top_svg_height",
    "min": 100,
    "max": 200,
    "step": 1,
    "default": 150
  },
  {
    "type": "range",
    "label": "Slider-Bottom SVG Height",
    "id": "slider_bottom_svg_height",
    "min": 70,
    "max": 200,
    "step": 2,
    "default": 150
  },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full Width",
        "default":   false
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top Distance Section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom Distance Section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "block_left",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "class_text",
            "label": "Class Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Images With Text 2",
        "category": "Image"
      }
    ]
  }
{% endschema %}