<div class="cbsn">
{% if section.settings.show_top_line == true %}
  <div class="slider_top-2">
    <svg
      style="transform: translateY({{ section.settings.slider_top_position }}px); height:{{ section.settings.slider_top_svg_height }}px;"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 50 5"
      version="1.1"
      width="100%"
      height="100%"
      preserveAspectRatio="none"
    >
      <path style="fill: {{ section.settings.slider_top_color }};" d="m 0 0 l 50 5 v -5" fill="#000000"/>
    </svg>
  </div>
{% endif %}
{% if section.settings.show_bottom_line == true %}
  <div class="slider_bottom-2">
    <svg
      style="transform: translateY({{ section.settings.slider_bottom_position }}px); height:{{ section.settings.slider_bottom_svg_height }}px;"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -5 50 5"
      version="1.1"
      width="100%"
      height="100%"
      preserveAspectRatio="none"
    >
      <path d="m 0 0 l 50 -5 v 5" style="fill: {{ section.settings.slider_bottom_color }};"/>
    </svg>
  </div>
{% endif %}
      </div>

{% style %}
  .cbsn {
    position: relative;
}
    .cc .title_block {
      font-weight: normal !important;
  }
    .section_img_text .item_text {
      margin-bottom: 10px;
  }
    .slider_top-2 svg {
      pointer-events: none;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
  }

  .slider_bottom-2 svg {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
  }
    slideshow-component:not(.page-width) .slider-buttons {
      z-index: 3;
  }
    figcaption.caption2 {
      max-width: 40%;
  }

      @media (min-width: 1024px)
    {
  .row.ffv {
      display: flex;
      flex-direction: column;
  }
      .col-sm-6.col-xs-12.item_text.d-flex.align-items-center.mb-md-30.cssca {
      max-width: 100%;
  }
  .title.sdvz {
      max-width: 100%;
  }
    }

    @media (max-width: 768px)
    {
  .slider_top-2 svg {
      height: 20px !important;
  }
  .slider_bottom-2 svg {
      height: 20px !important;
  }


    .block_title.cc.text-left.mb-70.mb-md-40 {
      text-align: center !important;
  }

  figcaption.caption2 {
      position: unset;
      max-width: 92%;
      margin: auto;
  }

    }
{% endstyle %}

{% schema %}
{
  "name": "inclined lines",
  "settings": [
          {
      "type": "checkbox",
      "id": "show_top_line",
      "default": false,
      "label": "show top inclined line"
    },
     {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "show bottom line"
    },
    {
      "type": "range",
      "id": "slider_top_position",
      "label": "Slider Top Position",
      "default": 0,
      "min": -50,
      "max": 50,
      "step": 1,
      "info": "Enter a value in pixels to move the slider-top element up or down using the translate CSS property."
    },
    {
      "type": "range",
      "id": "slider_bottom_position",
      "label": "Slider Bottom Position",
      "default": 0,
      "min": -50,
      "max": 50,
      "step": 1,
      "info": "Enter a value in pixels to move the slider-bottom element up or down using the translate CSS property."
    },
      {
      "type": "color",
      "id": "slider_top_color",
      "label": "Slider Top Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "slider_bottom_color",
      "label": "Slider Bottom Color",
      "default": "#ffffff"
    },
    {
    "type": "range",
    "label": "Slider-Top SVG Height",
    "id": "slider_top_svg_height",
    "min": 100,
    "max": 200,
    "step": 1,
    "default": 150
  },
  {
    "type": "range",
    "label": "Slider-Bottom SVG Height",
    "id": "slider_bottom_svg_height",
    "min": 70,
    "max": 200,
    "step": 2,
    "default": 150
  },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full Width",
        "default":   false
      }
  ],
  "presets": [
    {
      "name": "inclined-lines",
      "category": "Content"
    }
  ]
}
{% endschema %}
