{% capture body_template %}
    {{content_for_layout}}
{% endcapture %}

{% assign items = false %}
{% for block in section.blocks %}
    {% if block.type == 'item' %}
        {% assign items = true %}
    {% endif %}
{% endfor %}

<section class="reviews-slider block-{{ section.id }}">
    <div class="wrapper">

        {% if items == true %}
            <div class="reviews-slider__items swiper">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {%- case block.type -%}
                            {%- when 'item' -%}

                                <div class="reviews-slider__item swiper-slide">
                                    {% if block.settings.block_rev != blank %}
                                        <div class="reviews-slider__item-desc">
                                            {{ block.settings.block_rev  }}
                                        </div>
                                    {% endif %}
                                </div>

                        {%- endcase -%}
                    {% endfor %}
                </div>
            </div>

            <div class="reviews-slider__items-nav swiper">
                <div class="swiper-wrapper"> 
                    {% for block in section.blocks %}
                        {%- case block.type -%}
                            {%- when 'item' -%}
                                <div class="reviews-slider__item swiper-slide">

                                    {% if block.settings.image != blank %}
                                        <div class="reviews-slider__item-media">
                                            {% if block.settings.image != blank %}
                                                <img
                                                    loading="lazy"
                                                    alt="{{ block.settings.image.alt | strip_html | escape }}"
                                                    src="{{ block.settings.image | img_url: '320x320' }}"/>
                                            {% else %}
                                                {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    
                                </div>
                        {%- endcase -%}
                    {% endfor %}
                </div>
            </div>
      {% endif %}

    </div>
</section>


{% schema %}
{
  "name": "Reviews slider",
  "max_blocks": 5,
  "settings": [
  ],
  "blocks": [
      {
        "type": "item",
        "name": "Review",
        "settings": [
            {
                "type": "header",
                "content": "Review logo"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "header",
                "content": "Review text"
            },
            {
                "type": "inline_richtext",
                "id": "block_rev",
                "label": "Block review",
                "default": "Block review"
            },
            {
                "type": "header",
                "content": "Review link"
            },
            {
                "type": "url",
                "id": "block_rv_url",
                "label": "Review link url"
            }
        ]
      }
    ],
   "presets": [
    {
        "name": "Reviews slider",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item" 
          },
          {
            "type": "item"
          }
        ]
    }
  ]
}
{% endschema %}