<style>
    .block-{{ section.id }} {
        margin-top: {{ section.settings.block_top | times: 0.7  }}px;
        margin-bottom: {{ section.settings.block_bottom | times: 0.7 }}px;
    }
    @media screen and (min-width: 1024px) {
        .block-{{ section.id }} {
            margin-top: {{ section.settings.block_top }}px;
            margin-bottom: {{ section.settings.block_bottom }}px;
        }
    }
</style>

<section class="video-block block-{{ section.id }}">

    {% if section.settings.video_bg != blank %}
        <video class="video-block__bg" muted loop autoplay playsinline controlsList="nodownload">
            <source src="{{ section.settings.video_bg.sources[1].url}}" type="video/mp4">
        </video>
    {% else %}
        {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="wrapper">
        <div class="video-block__inner">

            {% if section.settings.video_bg != blank %}
                <div class="video-block__open">
                    <span>
                        <svg viewBox="0 0 280.5 357"><path d="M0 0v357l280.5-178.5Z"/></svg>
                    </span>
                </div>
            {% endif %}

            {% if section.settings.block_title != blank %}
                <h2>
                    {{ section.settings.block_title }}
                </h2>
            {% endif %}

            {% if section.settings.block_description != blank %}
                <div class="video-block__desc">
                    {{ section.settings.block_description }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if section.settings.video_bg != blank %}
        <div class="popup">
            <div class="popup__holder">
                <div class="popup__inner">
                <div class="popup__content">
                    <div class="popup__close">
                        <svg width="15px" height="13px" viewBox="0 0 15 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <g transform="translate(-332.000000, -21.000000)" stroke="#FFFFFF">
                                    <g transform="translate(333.000000, 21.000000)">
                                        <path d="M0,0 L13,13"></path>
                                        <path d="M13,0 L0,13"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <video class="video-block__popup-video"controls controlsList="nodownload" playsinline>
                        <source src="{{ section.settings.video_bg.sources[1].url}}" type="video/mp4">
                    </video>
                </div>
                </div>
            </div>
        </div>
    {% endif %}

</section>


{% schema %}
{
  "name": "Video block",
  "settings": [
    {
        "type": "header",
        "content": "Block offset"
    },
    {
        "type": "range",
        "id": "block_top",
        "min": 0,
        "max": 160,
        "step": 2,
        "unit": "px",
        "label": "Block offset top",
        "default": 60
    },
    {
        "type": "range",
        "id": "block_bottom",
        "min": 0,
        "max": 160,
        "step": 2,
        "unit": "px",
        "label": "Block offset bottom",
        "default": 60
    },
    {
        "type": "header",
        "content": "Block title"
    },
    {
        "type": "textarea",
        "id": "block_title",
        "label": "Block title",
        "default": "Block title"
    },
    {
        "type": "header",
        "content": "Block description"
    },
    {
        "type": "text",
        "id": "block_description",
        "label": "Block description",
        "default": "Block description"
    },
    {
        "type": "header",
        "content": "Video"
    },
    {
        "type": "video",
        "id": "video_bg",
        "label": "Video"
    }
  ],
   "presets": [
    {
        "name": "Video block"
    }
  ]
}
{% endschema %}